body {
  font-family: Arial;
  background: #f4f6f9;
}

/* LOGIN */
.login-container {
  width: 300px;
  margin: 100px auto;
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

/* DASHBOARD */
.main-container {
  display: flex;
}

.sidebar {
  width: 200px;
  background: #007bff;
  color: white;
  padding: 15px;
  height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
}

/* PROFILE */
.profile-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.profile-card img {
  border-radius: 50%;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #007bff;
  color: white;
}

td, th {
  padding: 8px;
  border: 1px solid #ddd;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px 0;
}